<script src="/html/js/ui.js"></script>
<script>
window.addEventListener('scroll', function(e) {
  if (reload_timeout) {
    window.clearTimeout(reload_timeout);
    reload_timeout = false;
  }
});

</script>
<hr size=1 noshade>
<font size=-1>Generated on {{hostname}} at {{now}}</font>
</body>
</html>

