{{> header}}
<script>
function document_on_load() {
  window.setTimeout(function(){ location.reload(true); }, 5000);
}
</script>

{{> layout_header}}

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">S5CI</a>

            <ul class="pure-menu-list">

                <li class="pure-menu-item menu-item-divided small-font">
                    <a href="/jobs/" class="pure-menu-link">root jobs</a>
                </li>
                <li class="pure-menu-item menu-item-divided small-font">
                    <a href="/jobs/active.html" class="pure-menu-link">active jobs</a>
                </li>
                <li class="pure-menu-item menu-item-divided pure-menu-selected small-font">
                    <a href="/jobs/" class="pure-menu-link">all {{job_group_name}}</a>
                </li>

{{#child_jobs}}
{{> part_joblist_menu}}
{{/child_jobs}}

            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
          <h1>Job Group {{job_group_name}}</h1>
        </div>

        <div class="content">

<table class="pure-table" style="width:100%">
<tr>
<th>*</th>
<th>job</th>
<th>status</th>
<th>parent</th>
</tr>
{{#child_jobs}}

<tr>
<td>
{{> part_ball}}
</td>

<td>
<a href="/jobs/{{{job_id}}}/">{{job_id}}</a>
</td>

<td class="smaller-font">
{{#status_updated_at}}{{status_updated_at}}:<br/> {{status_message}}{{/status_updated_at}}
</td>
<td>
{{#parent_job_id}}
<a href="/jobs/{{{parent_job_id}}}/">{{parent_job_id}}</a>
{{/parent_job_id}}
{{^parent_job_id}}
-
{{/parent_job_id}}
</td>

</tr>
{{/child_jobs}}
</table>

        </div>
    </div>

{{> layout_footer}}
{{> footer}}
