<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- <meta http-equiv="refresh" content="15"> -->
  <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/html/purecss/pure-release-1.0.0/pure-min.css" type="text/css">
  <link rel="stylesheet" href="/html/css/layout.css" type="text/css">
  <link rel="stylesheet" href="/html/css/common.css" type="text/css">
</head>
<body onload="document_on_load()">

