<a href="/jobs/{{{job_id}}}/">{{job_id}}</a> - {{started_at}} - {{finished_at}} - {{return_code}} - 
{{#finished_at}}
   {{#return_success}}OK{{/return_success}}
   {{^return_success}}FAIL{{/return_success}}
{{/finished_at}}
{{^finished_at}}pending{{/finished_at}}

{{#parent_job_id}}
[ parent <a href="/jobs/{{{parent_job_id}}}/">{{parent_job_id}}</a> ]
{{/parent_job_id}}

[ group: <a href="/jobs/{{{job_group_name}}}/">{{job_group_name}}</a> ]

