<a href="/jobs/{{{job_id}}}/">{{job_id}}</a> - {{started_at}} - {{finished_at}} - {{return_code}} - 
{{#finished_at}}
   {{#return_success}}OK{{/return_success}}
   {{^return_success}}FAIL{{/return_success}}
{{/finished_at}}
{{^finished_at}}pending{{/finished_at}}

