{{> part_ball}}

<a href="/jobs/{{{job_group_name}}}/">{{job_group_name}}</a>
<a href="/jobs/{{{job_id}}}/">#{{short_instance_id}}</a>

<!-- {{#status_updated_at}}{{status_updated_at}}: {{status_message}}{{/status_updated_at}} -->
<!-- {{started_at}} -->

<img src="/html/images/16x16/icon16.png"/>{{changeset_id}},{{patchset_id}}


