{{#finished_at}}{{#return_success}}<img src="/html/images/16x16/blue.png"/>{{/return_success}}{{^return_success}}<img src="/html/images/16x16/red.png"/>{{/return_success}}{{/finished_at}}
{{^finished_at}}<img src="/html/images/16x16/blue_anime.gif"/>{{/finished_at}}

