{{#finished_at}}
   <a href="/jobs/{{{job_id}}}/console.txt">
{{#return_success}}<img src="/html/images/16x16/blue.png"/>{{/return_success}}{{^return_success}}<img src="/html/images/16x16/red.png"/>{{/return_success}}</a>
{{/finished_at}}
{{^finished_at}}<a href="/html/monitor.html?/jobs/{{{job_id}}}/console.txt"><img src="/html/images/16x16/blue_anime.gif"/></a>{{/finished_at}}

